<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
<rule name="rule 1d">
	<match url="^index(|/)$"  />
	<action type="Rewrite" url="/./index.php"  />
</rule>
<rule name="rule 2d">
	<match url="^account(|/)$"  />
	<action type="Rewrite" url="/./account.php"  />
</rule>
<rule name="rule 3d">
	<match url="^account/(..*)$"  />
	<action type="Rewrite" url="/./account.php?item={R:1}"  />
</rule>
<rule name="rule 4d">
	<match url="^news/(..*)$"  />
	<action type="Rewrite" url="/./news.php?url={R:1}"  />
</rule>
<rule name="rule 5d">
	<match url="^banned(|/)$"  />
	<action type="Rewrite" url="/./banned.php"  />
</rule>
<rule name="rule 6d">
	<match url="^hotel(|/)$"  />
	<action type="Rewrite" url="/./hotel.php"  />
</rule>
<rule name="rule 7d">
	<match url="^mantenimiento(|/)$"  />
	<action type="Rewrite" url="/./mantenimiento.php"  />
</rule>
<rule name="rule 8d">
	<match url="^me(|/)$"  />
	<action type="Rewrite" url="/./me.php"  />
</rule>
<rule name="rule 9d">
	<match url="^home/(..*)$"  />
	<action type="Rewrite" url="/./home.php?idd={R:1}"  />
</rule>
<rule name="rule 10d">
	<match url="^shop(|/)$"  />
	<action type="Rewrite" url="/./shop.php"  />
</rule>
<rule name="rule 11d">
	<match url="^leaderboards(|/)$"  />
	<action type="Rewrite" url="/./leaderboards.php"  />
</rule>
<rule name="rule 12d">
	<match url="^register(|/)$"  />
	<action type="Rewrite" url="/./register.php"  />
</rule>
<rule name="rule 14d">
	<match url="^staff(|/)$"  />
	<action type="Rewrite" url="/./staff.php"  />
</rule>
<rule name="rule 19d">
	<match url="^way(|/)$"  />
	<action type="Rewrite" url="/./way.php"  />
</rule>
<rule name="rule 20d">
	<match url="^error(|/)$"  />
	<action type="Rewrite" url="/./error.php"  />
</rule>
<rule name="rule 21d">
	<match url="^store(|/)$"  />
	<action type="Rewrite" url="/./store.php"  />
</rule>
<rule name="rule 22d">
	<match url="^room/([0-9]+)$" ignoreCase="false" />
	<action type="Rewrite" url="/./hotel.php?url=hotel&amp;roomid={R:1}" appendQueryString="false" />
</rule>
<rule name="rule 23d">
	<match url="^hotel?room=([0-9]+)$" ignoreCase="false" />
	<action type="Rewrite" url="/./hotel.php?url=hotel&amp;roomid={R:1}" appendQueryString="false" />
</rule>
<rule name="rule 24d">
	<match url="^rooms(|/)$"  />
	<action type="Rewrite" url="/./rooms.php"  />
</rule>
<rule name="rule 25d">
	<match url="^disabled(|/)$"  />
	<action type="Rewrite" url="/./disabled.php"  />
</rule>
<rule name="rule 26d">
	<match url="^groups(|/)$"  />
	<action type="Rewrite" url="/./groups.php"  />
</rule>
<rule name="rule 27d">
	<match url="^rooms(|/)$"  />
	<action type="Rewrite" url="/./rooms.php"  />
</rule>
<rule name="rule 28d">
	<match url="^onlines(|/)$"  />
	<action type="Rewrite" url="/./onlines.php"  />
</rule>
<rule name="rule 29d">
	<match url="^group/(..*)$"  />
	<action type="Rewrite" url="/./group.php?idd={R:1}"  />
</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>